.react-multiple-carousel__arrow--left {
  left: -webkit-calc(2% + 1px);
  left: calc(2% + 1px);
}

.react-multiple-carousel__arrow--right {
  right: -webkit-calc(2% + 1px);
  right: calc(2% + 1px);
}
