body,
html {
  width: 100%;
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(238, 122, 122, 0);
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  background-color: #fff;
  font-weight: 400;
  color: #535967;
  overflow-x: hidden;
}

p {
  color: #535967;
  font-family: "Mulish", sans-serif;
  line-height: 28px;
  font-size: 16px;
}

/*--------------------
 TYPOGRAPHY
-----------------*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0;
  color: #07294d;
}

.h1,
h1 {
  font-size: 46px;
}

.h2,
h2 {
  font-size: 32px;
}

.h3,
h3 {
  font-size: 28px;
}

.h4,
h4 {
  font-size: 22px;
}

.h5,
h5 {
  font-size: 18px;
}

.h6,
h6 {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #07294d;
}

.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0f8d8c;
}

/*-------------------
BUTTONS STYLE
--------------------*/
.btn {
  font-weight: 700;
  position: relative;
  /*text-transform: capitalize;*/
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 1px solid transparent;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-main {
  background: #0f8d8c;
  color: #fff;
  border-color: #0f8d8c;
}

.btn-main:hover {
  color: #fff;
  border-color: #385777;
  background: #385777;
}

a {
  color: #0f8d8c;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #385777;
  outline: none;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:visited {
  outline: none;
}

ul,
ol {
  /*margin-bottom: 0;*/
  /*list-style-type: none;*/
  /*padding-left: 0;*/
}

.form-control {
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: none;
}

/* ================
Features
================*/
.feature {
  margin-top: -70px;
}

.feature-item {
  padding: 30px 35px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.04);
  margin: 0 5px;
  border-radius: 5px;
  border-top: 2px solid #0f8d8c;
  display: flex;
  transition: 0.4s;
  margin-bottom: 20px;
}

.feature-item h4 {
  margin-bottom: 20px;
  transition: 0.4s;
}

.feature-icon {
  font-size: 40px;
  float: left;
  margin-right: 25px;
  color: #385777;
  margin-top: 5px;
  transition: 0.4s ease;
}

.feature-text {
  overflow: hidden;
}

/* ====================
Feature Style 2
======================*/
.feature-item.feature-style-2 {
  display: block;
  box-shadow: none;
  margin-bottom: 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.04);
  border-top: 0;
}

.feature-item.feature-style-2 .feature-icon {
  float: none;
  margin-right: 0;
  margin-bottom: 15px;
  font-size: 50px;
  color: #0f8d8c;
}

.feature-item.feature-style-2 h4,
.feature-item.feature-style-2 p,
.feature-item.feature-style-2 .feature-icon {
  transition: 0.4s ease;
}

/*========================
 Contact Section
============================*/
.contact-info .contact-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-right: 30px;
}

.contact-info .contact-item p {
  margin-bottom: 10px;
  color: #0f8d8c;
}

.contact-heading {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
}

.contact__form .form-control {
  height: 55px;
  padding-left: 20px;
  border: 2px solid #eee;
  background: #eee;
}

.contact__form .form-control:hover {
  border-color: #0f8d8c;
}

.contact__form .form-group {
  margin-bottom: 25px;
}

.contact__form textarea.form-control {
  height: auto;
  padding-top: 15px;
}

.contact__form label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #385777;
}

/* =========================
 Course Single Sidebar
==============================*/
.course-sidebar .course-single-thumb {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 25px;
}

.course-sidebar .course-single-thumb img {
  border-radius: 5px;
}

.course-sidebar .course-price-wrapper {
  margin-top: 15px;
}

.course-sidebar .course-price-wrapper .course-price {
  margin-bottom: 30px;
}

.course-sidebar .course-price-wrapper .course-price h4 span {
  font-size: 50px;
}

.course-sidebar .course-widget {
  border: 1px solid #eee;
  padding: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #385777;
  border-radius: 5px;
}

.course-sidebar .course-widget.single-info {
  font-weight: 600;
  color: #222;
}

.course-sidebar .course-widget.single-info i {
  color: #0f8d8c;
  margin-right: 10px;
}

.course-sidebar .course-widget ul {
  list-style-type: none;
  padding-left: 0;
}

.course-sidebar .course-widget ul li {
  line-height: 45px;
  color: #222;
}

.course-sidebar .course-widget ul li span {
  font-weight: 600;
  font-size: 15px;
}

.course-sidebar .course-widget ul li i {
  margin-right: 10px;
  color: #0f8d8c;
  width: 20px;
  display: inline-block;
}

.course-sidebar .course-widget ul li a {
  color: #535967;
  text-transform: capitalize;
}

.course-sidebar .course-widget.course-share li {
  margin-right: 0 !important;
}

.course-sidebar .course-widget.course-share span {
  font-weight: 600;
  font-size: 15px;
  color: #222;
}

.course-sidebar .course-widget.course-share a i {
  color: #fff;
  margin-right: 0;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #eee;
  text-align: center;
  border-radius: 4px;
  line-height: 40px;
  transition: 0.4s;
}

.course-sidebar .course-widget.course-share a .fa-twitter {
  background: #1da1f2;
}

.course-sidebar .course-widget.course-share a .fa-facebook {
  background: #3b5998;
}

.course-sidebar .course-widget.course-share a .fa-linkedin {
  background: #0077b5;
}

.course-sidebar .course-widget.course-share a .fa-pinterest {
  background: #f92b39;
}

.course-sidebar .course-widget.course-share a:hover i {
  color: #fff;
  background: #0f8d8c;
}

.course-sidebar .course-widget.single-info span {
  color: #0f8d8c;
}

.course-sidebar .course-widget.course-metarials ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 28px;
}

.course-sidebar .course-widget.course-metarials ul li i {
  position: absolute;
  left: 0;
  top: 13px;
}

.course-sidebar .course-widget .single-course-tags a {
  color: #535967;
  display: inline-block;
  padding: 0 12px;
  border: 1px solid #d8d9dc;
  background: #eee;
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px;
}

.course-sidebar .course-widget .single-course-tags a:hover {
  background: #0f8d8c;
  color: #fff;
  border-color: #0f8d8c;
}

.course-title {
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  font-size: 24px;
}

.course-title:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: #222;
}

/*========================
COURse Single Details
==============================*/
.course-single-header {
}

.course-single-header .single-course-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.course-single-header .single-course-meta {
  margin-top: 30px;
}

.course-single-header .single-course-meta ul li {
  margin-right: 25px;
  float: left;
}

.course-single-header .single-course-meta ul li a {
  color: #333;
}

.course-single-header .single-course-meta ul li a:hover {
  color: #0f8d8c;
}

.course-single-header .single-course-meta ul span {
  color: #222;
  font-weight: 600;
}

.course-single-header .single-course-meta ul span i {
  margin-right: 10px;
  color: #0f8d8c;
}

.single-course-details {
  clear: both;
}

.single-course-details .course-info {
  overflow: hidden;
  padding: 25px;
  border: 1px solid #eee;
  margin: 25px 0;
  background: #f8f8f9;
}

.single-course-details .course-info ul {
  list-style: none;
  display: block;
  overflow: hidden;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0;
  padding-left: 0;
}

.single-course-details .course-info ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
  color: #222;
}

.single-course-details .course-info ul li svg {
  position: absolute;
  left: 0;
  top: 10px;
}

/*============
 Error Page
==============*/
.error-page .error-header h2 {
  font-size: 90px;
  line-height: 1.1;
  font-weight: 700;
}

.error-page .error-message {
  margin: 15px 0;
}

.error-page .error-content .btn {
  margin-top: 30px;
}

.img-block {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

.img-block:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid rgba(255, 255, 255, 0.1);
  border-left: 200px solid transparent;
  z-index: -1;
}

/* --------------------------------------------- */

.mt--100 {
  margin-top: -100px;
}

.dropdown-item span {
  color: #0f8d8c;
  background: #eee;
  padding: 2px 7px;
  border-radius: 4px;
}

.ptb-40 {
  padding: 40px 0;
}
