@import '../styles/mixins';

.bannerSection {
  padding: 60px 0 140px;
  background: #ffefd5;
  position: relative;
}

.bannerContent {
  h1 {
    margin-bottom: 1rem;
    font-size: 40px;

    @include onTabletAndDesktop() {
      font-size: 48px;
    }
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 32px;

    @include onTabletAndDesktop() {
      font-size: 40px;
    }
  }
}
