.footer {
  background: rgba(7, 41, 77, 0.98);
  padding: 80px 0 0;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-widget .widget-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
}

.footer .footer-widget p {
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-contact ul {
  margin-top: 30px;
}

.footer .footer-contact ul li {
  margin-bottom: 20px;
}

.footer .footer-contact ul li i {
  color: #0f8d8c;
  margin-right: 20px;
  float: left;
  margin-top: 7px;
  min-width: 30px;
}

.footer .footer-contact ul li div {
  overflow: hidden;
  font-size: 14px;
}

.footer .footer-contact ul li div strong {
  display: block;
  text-transform: capitalize;
  font-size: 16px;
}

.footer .footer-links li {
  padding: 5px 0;
}

.footer .footer-links a {
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-links a:hover {
  color: #0f8d8c;
}

.footer .footer-socials {
  margin-top: 30px;
}

.footer .footer-socials a {
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  color: #222;
  border-radius: 100%;
}

.footer .footer-socials a:hover {
  background: #0f8d8c;
  color: #fff;
}

.footer-btm {
  margin-top: 30px;
  padding: 20px 0 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-btm .copyright p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

.form-subscribe {
  position: relative;
}

.form-subscribe .form-control {
  height: 50px;
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 5px;
}

.form-subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  background: #0f8d8c;
}

.form-subscribe button:hover {
  background: #fff;
  color: #222;
}
