/*-------------------
   MENU
----------------------*/
.site-navigation {
  border-bottom: 1px solid #f5f7fa;
  padding: 12px 0;
}

.navbar {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 15px;
  color: #111;
}

.navbar-nav .nav-link:hover {
  color: #0f8d8c;
}

.navbar-nav .nav-link .icon {
  margin-left: 5px;
}

.navbar-nav .nav-link .icon {
  margin-left: 5px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  vertical-align: middle;
  background: no-repeat 50%;
  background-size: 100% 100%;
}

/*-------------------
DROPDOWN MENU
----------------------*/
.dropdown-menu.show {
  -webkit-animation: 0.2s forwards b;
  animation: 0.2s forwards b;
}

.dropdown-item {
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.1s;
  border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
  border-color: transparent;
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0f8d8c;
}

.dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown .dropdown-menu {
  transition: all 300ms ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
  -2px 0 5px 1px rgba(0, 0, 0, 0.05);
  border: 0;
  padding: 0;
  position: absolute;
  border-top: 2px solid #0f8d8c;
  min-width: 220px;
}

/* Header Right */

.header-contact-phone {
  margin-right: 5px;
}

.header-contact-phone a {
  color: #0f8d8c;
}

.header-contact-right {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.header-contact-right li {
  display: inline-block;
  margin-left: 5px;
}

.header-contact-right li i {
  width: 45px;
  height: 45px;
  border: 1px solid #eee;
  text-align: center;
  padding-top: 14px;
  border-radius: 100%;
  background: #f9f9f9;
  color: #0f8d8c;
  transition: all 0.4s ease;
}

.header-contact-right li .icon {
  display: inline-block;
  line-height: 1;
  width: 45px;
  height: 45px;
  border: 1px solid #eee;
  text-align: center;
  padding-top: 14px;
  border-radius: 100%;
  background: #f9f9f9;
  color: #0f8d8c;
  transition: all 0.4s ease;
}

.header-contact-right li .icon:hover {
  background: #0f8d8c;
  border-color: #0f8d8c;
  color: #fff;
}

.btn-small {
  padding: 11px 24px;
}

.btn-small i {
  margin-right: 5px;
}

.header-form {
  position: relative;
}

.header-form .form-control {
  height: 50px;
  background: #f9f9f9;
  border: 0 solid transparent;
}

.header-form i {
  position: absolute;
  right: 14px;
  top: 15px;
}

/* Search Option*/
.search-wrap {
  position: relative;
  z-index: 1200;
  top: 20px;
  right: 16px;
  display: block;
  float: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: opacity 0.35s, visibility 0.35s, height 0.4s;
  opacity: 0;
  background: #1f1f1f;
}

.overlay.open {
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.overlay .search-form {
  position: relative;
  height: 400px;
  padding-top: 120px;
  background: #222;
}

.search-form .form-control {
  height: 50px;
}

.search-form h3 {
  color: #fff;
  margin-bottom: 28px;
  font-weight: 400;
}

/* Menu Transpaarent */
.menu-2 .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 13px;
}

.nav-link.active {
  color: #0f8d8c;
}

.nav-tp {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  padding: 12px 0;
  z-index: 999;
  margin-bottom: -100px;
  position: relative;
}

.nav-tp .navbar-nav .nav-link {
  color: #fff;
}

.nav-tp .navbar-brand h3 {
  color: #fff;
}

.logo {
  width: 200px;
}
