@import '../styles/mixins';

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 48px;

  .content {
    border-radius: 16px;
    padding: 32px 16px 32px;
    position: relative;
    border: 1px solid #eee;
    background-color: #fff;

    @include onDesktop() {
      padding: 48px 80px 48px;
    }

    .author {
      text-align: right;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 0;
      color: #07294d;
      font-size: 20px;
      margin-right: 16px;
      padding-top: 8px;

      @include onDesktop() {
        margin-right: 32px;
      }
    }

    p {
      color: #535967;
      font-family: "Mulish", sans-serif;
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 1rem;
    }

    .quote {
      text-align: center;
      margin-bottom: 16px;

      i {
        font-size: 45px;
        opacity: .4;

        @include onDesktop() {
          font-size: 60px;
        }
      }
    }
  }
}


