@import '../styles/mixins';

.root {
  .card {
    margin-bottom: 20px;
    border: 0 solid transparent;
  }

  .cardHeader {
    padding: 0;
    margin-bottom: 0 !important;
    background: transparent;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);

    button {
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 20px;
      background: transparent;
      position: relative;

      h4 {
        position: relative;
        font-size: 18px;
        margin-bottom: 0;

        .minusIcon {
          visibility: hidden;
        }

        .plusIcon {
          visibility: visible;
        }

        .pricing {
          display: block;
          @include onDesktop() {
            display: inline;
            margin-left: 10px;
          }

          .price {
            color: firebrick;
          }

          .priceInfo {
          }
        }

        svg {
          position: absolute;
          margin-left: 20px;
          font-size: 15px;
          top: 3px;
          right: 0;
          color: #555;
        }
      }
    }

    button[aria-expanded="true"] {
      border-bottom: 0;

      h4 {
        .minusIcon {
          visibility: visible;
        }

        .plusIcon {
          visibility: hidden;
        }
      }
    }
  }
}

.content {
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  background: #fafafa;
  border: 1px solid #eee;

  p {
    font-size: 15px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  background: #fafafa;
  border: 1px solid #eee;

  .course-topic-lesson {
    font-family: "Filson Pro", sans-serif;
  }

  span {
    color: #444;
    font-weight: 400;
    font-size: 15px;
  }

  svg {
    margin-right: 10px;
    color: #0f8d8c;
  }
}
