.root {
  padding: 60px 0;

  p {
    margin-bottom: 10px;
  }

  @media (max-width: 992px) {
    padding: 60px 0;
  }

  ul,
  ol {
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
  }
}
